@charset "utf-8";

/******************************************************************************
	Reset
******************************************************************************/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
ul, ol{
	list-style: none;
}
html,
body{
	font-family:'Circe', sans-serif;
	font-size:16px;
	line-height:normal;
	scroll-behavior:smooth;
}
html{
	height:100%;
}
body{
	position:relative;
	height:auto !important;
	height:100%;
	min-height:100%;
}
a, a:hover, a:focus, a:active,
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active{
	text-decoration:none;
	outline:none;
}


/******************************************************************************
	Base styles
******************************************************************************/
body.main{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	background:#4d4d4d;
	font-family:'Circe';
}

/******************************************************************************
	Main layout
******************************************************************************/
.box{
	position:relative;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	padding-bottom:3.65vw;
	overflow:hidden;
}
.box::before{
	content:'';
	position:absolute;
	width:100%;
	height:3.65vw;
	bottom:0;
	background: #454545;
}
.box::after{
	content:'';
	position:absolute;
	width:110%;
    height:9.4vw;
    bottom:-6.6vw;
	background:#4d4d4d;
	border-radius:50% 50% 0 0;
}
.left-col{
	width:28vw;
	background:#fff;
}
.right-col{
	width:51.3vw;
	background:#cccccc;
}
.right-col_img{
	display:block;
	margin:1.9vw auto 0;
	width:46.8vw;
	border:0.737vw solid #fff;
}
.right-col_stats{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	margin:0.84vw 0 0.31vw;
	font-size:0.95vw;
	line-height:1.8vw;
	font-weight:bold;
}
.right-col_stats-left{
	text-align:right;
	margin-right:3.15vw;
}
.right-col_stats-right{
	text-align:right;
	margin-left:3.15vw;
}
.right-col_stats-item{
	margin-bottom:0.53vw;
}
.bubble{
	position:relative;
	display:inline-block;
	height:1.68vw;
	margin-left:0.95vw;
	padding:0 0.79vw;
	background:#000;
	border-radius:0.25vw;
	font-weight:normal;
	color:#fff;
}
.bubble:after{
	content:'';
	position:absolute;
	border-style:solid;
	border-width:0.3vw 0.3vw 0.3vw 0;
	border-color:transparent #000;
	display:block;
	width:0;
	z-index:1;
	left:-0.3vw;
	top:50%;
	margin-top:-0.3vw;
}
.main-form{
	position:relative;
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
	padding-top:2.5vw;
	margin-bottom:0.84vw;
}
.left-col-title{
	font-size:1.25vw;
	line-height:normal;
	font-weight:bold;
	color:#000;
}
.strategy-box{
	margin-top:1.1vw;
	margin-bottom:2.63vw;
}
.strategy-box input{
	display:none;
}
.strategy-box label{
	display:inline-block;
	width:7.63vw;
	height:2.52vw;
	border-radius:0.25vw;
	border:2px solid #000;
	text-align:center;
	font-size:0.8vw;
	line-height:2.52vw;
	font-weight:bold;
	color:#000;
	background:#fff;
	cursor:pointer;
}
.strategy-box input:checked + label{
	color:#fff;
	background:#000;
}
.analisis-box{
	margin-top:1.1vw;
	font-size:0;
}
.analisis-box input{
	display:none;
}
.analisis-box label{
	display:inline-block;
	width:3.8vw;
	height:2.52vw;
	border:2px solid #000;
	text-align:center;
	font-size:0.8vw;
	line-height:2.52vw;
	font-weight:bold;
	color:#000;
	background:#fff;
	cursor:pointer;
}
.analisis-btn_first{
	border-radius:0.25vw 0 0 0.25vw;
}
.analisis-btn_second{
	border-radius:0 0.25vw 0.25vw 0;
}
.analisis-box input:checked + label{
	color:#fff;
	background:#000;
}

.target-box{
	margin-top:3vw;
	margin-bottom:2.1vw;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	font-size:0;
}
.target-box_middle{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
}
.target-arrow{
	display:block;
	cursor:pointer;
}
.target-arrow_img{
	width:3.684vw;
}
.arrow_down{
	transform:rotate(180deg);
}
.arrow_right{
	transform:rotate(90deg);
}
.arrow_left{
	transform:rotate(270deg);
}
.target_center{
	margin:1.105vw;
	border:2px solid #000;
	width:3.684vw;
	height:3.684vw;
	border-radius:50%;
}

.time-control-box{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-around;
	align-items:center;
}
.time-control{
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	cursor:pointer;
	width:2.526vw;
	height:2.526vw;
	border-radius:0.25vw;
	background:#000;
}
.time-control img{
	height:0.842vw;
}
.settings-btn{
	position:absolute;
	bottom:0;
	left:2.1vw;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	cursor:pointer;
	width:2.526vw;
	height:2.526vw;
	border:2px solid #000;
	border-radius:0.25vw;
	background:#fff;
}
.settings-btn img{
	height:1.474vw;
}
.overlay{
	display:none;
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0, 0, 0, 0.4);
	z-index:100;
	cursor:pointer;
}
.form-settings{
	position:absolute;
	width:20vw;
	height:22.75vw;
	padding:2vw;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	display:flex;
	flex-flow:column nowrap;
	align-items:flex-end;
	background:#fff;
	border-radius:0.5vw;
	cursor:default;
	box-shadow:0 0 2.5vw rgba(0, 0, 0, 0.6);
}
.form-settings-close{
	position:absolute;
	width:1.579vw;
	height:1.579vw;
	top:-1.789vw;
	right:-1.789vw;
	border-radius:0.2vw;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	background:#fff;
	box-shadow:0 0 1vw rgba(0, 0, 0, 0.6);
	cursor:pointer;
}
.form-settings-close img{
	width:0.737vw;
}
.form-settings-title{
	align-self:center;
	font-size:1.263vw;
	line-height:normal;
	font-weight:300;
	margin-bottom:1.9vw;
}
.form-settings-row{
	display:flex;
	flex-flow:row nowrap;
	justify-content:flex-end;
	align-items:center;
	margin-bottom:0.368vw;
}
.form-settings-label{
	font-size:0.947vw;
	font-weight:bold;
	line-height:normal;
	color:#000;
}
.form-settings-input{
	width:6.52vw;
	height:2vw;
	padding:0 0.5vw;
	border:2px solid #000;
	border-radius:0.25vw;
	margin-left:1vw;
	font-size:0.947vw;
	font-weight:bold;
	line-height:1.8vw;
	color:#000;
}
.form-settings-btn{
	margin-top:1.2vw;
	align-self:center;
	display:inline-block;
	width:7.63vw;
	height:2.52vw;
	border-radius:0.25vw;
	border:2px solid #000;
	text-align:center;
	font-size:0.8vw;
	line-height:2.3vw;
	font-weight:bold;
	color:#fff;
	background:#000;
	cursor:pointer;
}

.show-window .overlay{
	display:block;
}


@media only screen and (max-width: 1024px){
	.box{
		padding-bottom:0;
	}
	.box::before{
		display:none;
	}
	.box::after{
		display:none;
	}

	.left-col{
		width:35.5vw;
	}
	.right-col{
		width:65vw;
	}
	.right-col_img{
		margin:2.4vw auto 0;
		width:59.2vw;
	}
	.right-col_stats{
		font-size:1.2vw;
		line-height:2.28vw;
	}
	.right-col_stats-left{
		margin-right:4vw;
	}
	.right-col_stats-right{
		margin-left:4vw;
	}
	.bubble{
		height:2.13vw;
		margin-left:1.2vw;
		padding:0 0.79vw;
	 }
	.bubble:after{
		border-width:0.38vw 0.38vw 0.38vw 0;
		left:-0.38vw;
		margin-top:-0.38vw;
	}
	.main-form{
		padding-top:3.1675vw;
		margin-bottom:1.064vw;
	}
	.left-col-title{
		font-size:1.584vw;
	}
	.strategy-box{
		margin-top:1.4vw;
		margin-bottom:3.33vw;
	}
	.strategy-box label{
		width:9.67vw;
		height:3.19vw;
		font-size:1.0136vw;
		line-height:2.8vw;
	}
	.analisis-box{
		margin-top:1.394vw;
	}
	.analisis-box label{
		width:4.815vw;
		height:3.193vw;
		font-size:1.0136vw;
		line-height:2.8vw;
	}
	.target-box{
		margin-top:3.8vw;
		margin-bottom:2.66vw;
	}
	.target-arrow_img{
		width:4.667vw;
	}
	.target_center{
		margin:1.4vw;
		width:4.667vw;
		height:4.667vw;
	}
	.time-control{
		width:3.2vw;
		height:3.2vw;
	}
	.time-control img{
		height:1.067vw;
	}
	.settings-btn{
		left:2.66vw;
		width:3.2vw;
		height:3.2vw;
	}
	.settings-btn img{
		height:1.868vw;
	}
	.form-settings{
		width:25.34vw;
		height:28.82vw;
		padding:2.534vw;
		box-shadow:0 0 3.168vw rgba(0, 0, 0, 0.6);
	}
	.form-settings-close{
		width:2vw;
		height:2vw;
		top:-2.267vw;
		right:-2.267vw;
		box-shadow:0 0 1.267vw rgba(0, 0, 0, 0.6);
	}
	.form-settings-close img{
		width:0.934vw;
	}
	.form-settings-title{
		font-size:1.6vw;
		margin-bottom:2.66vw;
	}
	.form-settings-row{
		margin-bottom:0.466vw;
	}
	.form-settings-label{
		font-size:1.2vw;
	}
	.form-settings-input{
		width:8.261vw;
		height:2.534vw;
		margin-left:1.267vw;
		font-size:1.2vw;
		line-height:2.28vw;
	}
	.form-settings-btn{
		margin-top:1.52vw;
		width:9.667vw;
		height:3.193vw;
		font-size:1.014vw;
		line-height:2.91vw;
	}
}