<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HELMINTHS DETECTION</title>
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/fonts/fonts.css' %}">
</head>
<body class="main">
<script>
    function ajax_req(path_to_ajax) {
        let xhr = new XMLHttpRequest();
        xhr.open("POST",path_to_ajax);
        xhr.send();
    }

    function ajax_req_1() {
        let xhr = new XMLHttpRequest();
        xhr.open("GET", 'test/?path='+document.getElementsByName("image-path")[0].value+"&mag="+document.getElementsByName("magnification")[0].value+"&xs="+document.getElementsByName("x-step")[0].value+'&ys='+document.getElementsByName("y-step")[0].value+"&fs="+document.getElementsByName("frame-skip-step"), true);
        xhr.send();
    }

    function isCheck(name) {
    return document.querySelector('input[name="' + name + '"]:checked');
}

    function scansit() {
        let strategy = isCheck('strategy').value;
        let inter = isCheck('analisis').value;
        ajax_req('set/?str='+strategy+"&int="+inter);
    }

</script>
	<div id="overlay" class="overlay">
		<form id="form-settings" class="form-settings">
			<span id="form-settings-close" class="form-settings-close">
				<img src="{% static 'front/i/close-icon.svg' %}">
			</span>
			<div class="form-settings-title">SETTINGS</div>
			<div class="form-settings-row">
				<label class="form-settings-label">IMAGE PATH</label>
				<input class="form-settings-input" name="image-path" value="{{ stepper.camera.image_path }}">
			</div>
			<div class="form-settings-row">
				<label class="form-settings-label">MAGNIFICATION</label>
				<input class="form-settings-input" name="magnification" value="{{ stepper.camera.magnification }}">
			</div>
			<div class="form-settings-row">
				<label class="form-settings-label">FRAME SKIP STEP</label>
				<input class="form-settings-input" name="frame-skip-step" value="{{ stepper.frame_skip }}">
			</div>
			<div class="form-settings-row">
				<label class="form-settings-label">X-STEP</label>
				<input class="form-settings-input" name="x-step" value="{{ stepper.STEP_X }}">
			</div>
			<div class="form-settings-row">
				<label class="form-settings-label">Y-STEP</label>
				<input class="form-settings-input" name="y-step" value="{{ stepper.STEP_Y }}">
			</div>
			<button id="form-settings-btn" class="form-settings-btn" onclick="ajax_req_1('test/')">OK</button>
		</form>
	</div>
	<div class="box">
		<div class="left-col">
			<form id="main-form" class="main-form">
				<div class="left-col-title">STRATEGY</div>
				<div class="strategy-box">
					<input class="radio-btn" id="strategy_full" type="radio" name="strategy" value="full" checked>
					<label for="strategy_full">FULL</label>
					<input class="radio-btn"id="strategy_frameskip" type="radio" name="strategy" value="frame-skip">
					<label for="strategy_frameskip">FRAME SKIP</label>
				</div>
				<div class="left-col-title">INTERRUPT ANALYSIS</div>
				<div class="analisis-box">
					<input class="radio-btn" id="analisis_no" type="radio" name="analisis" value="no">
					<label class="analisis-btn_first" for="analisis_no">NO</label>
					<input class="radio-btn" id="analisis_yes" type="radio" name="analisis" value="yes" checked>
					<label class="analisis-btn_second" for="analisis_yes">YES</label>
				</div>
				<div class="control-box">
					<div class="target-box">
						<span class="target-arrow arrow_up control" data-control="move-up">
                            <img class="target-arrow_img" src="{% static 'front/i/arrow.svg' %}" onclick="ajax_req('forward_y/')">
						</span>
						<div class="target-box_middle">
							<span class="target-arrow arrow_left control" data-control="move-left">
                                <img class="target-arrow_img" src="{% static 'front/i/arrow.svg' %}" onclick="ajax_req('backward_x/')">
							</span>
							<span class="target-arrow target_center control" data-control="move-center" onclick="ajax_req('home/')"></span>
							<span class="target-arrow arrow_right control" data-control="move-right" onclick="ajax_req('forward_x/')">
                                <img class="target-arrow_img" src="{% static 'front/i/arrow.svg' %}">
							</span>
						</div>
						<span class="target-arrow arrow_down control" data-control="move-down">
                            <img class="target-arrow_img" src="{% static 'front/i/arrow.svg' %}" onclick="ajax_req('backward_y/')">
						</span>
					</div>
					<div class="time-control-box">
						<span class="time-control control" data-control="pause" onclick="ajax_req('pause/')">
                            <img class="time-control_img" src="{% static 'front/i/pause-icon.svg' %}">
						</span>
						<span class="time-control control" data-control="stop" onclick="ajax_req('stop/')">
                            <img class="time-control_img" src="{% static 'front/i/stop-icon.svg' %}">
						</span>
						<span class="time-control control" data-control="play" onclick="ajax_req('run/')">
                            <img class="time-control_img" src="{% static 'front/i/play-icon.svg' %}">
						</span>
					</div>
				</div>
				<span id="settings-btn" class="settings-btn">
                    <img class="time-control_img" src="{% static 'front/i/settings-icon.svg' %}">
				</span>
			</form>
		</div>
		<div class="right-col">
            <img class="right-col_img" src="{% static 'front/img/img1.jpg' %}">
			<div class="right-col_stats">
				<div class="right-col_stats-left">
					<div class="right-col_stats-item">TIME ELAPSED<span class="bubble" id = "time_use">{{ time_use }}</span></div>
					<div class="right-col_stats-item">TIME REMAINS<span class="bubble" id = "time_will">{{ time_will }}</span></div>
				</div>
				<div class="right-col_stats-right">
					<div class="right-col_stats-item">FRAMES ANALYZED<span class="bubble" id="frames">{{ frames }}</span></div>
					<div class="right-col_stats-item">EGG COUNTER<span class="bubble" id="eggs">{{ eggs }}</span></div>
				</div>
			</div>
		</div>
	</div>
</body>
    <script type="text/javascript" src="{% static 'front/js/jquery-3.4.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'front/js/script.js' %}"></script>
</html>